<!--<ul>
  <li *ngFor="let animal of pyramidRow.animals">
  <img src={{animal.profileImageUrl}}/>
  <h2>name:{{animal.name}}</h2>
  <h3>animalType:{{animal.animalType}}</h3>
  <h4>pyramidLevel:{{animal.pyramidLevel}}</h4>
  </li>
</ul>
-->

<div class="ui link cards">
  <div *ngFor="let animal of pyramidRow.animals; let idx = index" [ngClass]="{'red': animal.pyramidLevel == 1, 'black': animal.pyramidLevel == 2, 'green' : animal.pyramidLevel == 3, 'orange' : animal.pyramidLevel == 4, 'purple' : animal.pyramidLevel == 5}" class="card">

    <div style="text-align: center">
      <img src="{{animal.profileImageUrl}}">
    </div>
    <div class="content" style="text-align: center">
      <div class="header">{{animal.name}}</div>
      <div class="meta">
        <span class="date">{{animal.animalType}}</span>
      </div>
      <div class="description">
        
      </div>
    </div>
    <div class="extra content" style="text-align: center">
      <span>
        pyramidLevel: {{animal.pyramidLevel}}

      </span>
  
    </div>
  </div>
</div>
